@model List<Product>
@{
  
  Layout ="_layout";
}
@section Category
{
  @await Component.InvokeAsync("Category")
}
<div class="row">
  @foreach (var item in Model)
  {
    <div class="col-md-4 p-1">
      @await Html.PartialAsync("_product",item)
    </div>
  }
</div>


 