@model ProductViewModel
@{
  var products = Model.Products;
  var categories = Model.Categories;
  Layout ="_layout";
}

<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      @foreach (var item in categories)
      {
          <a href="#" class="list-group-item list-group-item-action">@item.Name</a>
      }
    </ul>
  </div>
  
  <div class="col-md-9">
    <div class="row">
      @if (products.Count != 0)
      {
          @foreach (var item in products)
          {
            <div class="col-md-4 p-1">
              @await Html.PartialAsync("_product",item)
            </div>
          }
      }
      else{
        @await Html.PartialAsync("_noproduct")
      }
  </div>
</div>

      
 