<div class="jumbotron jumbotron-fluid">
     <div class="container">
       <h2 class="display-4">Shopp APP</h2>
       <p class="lead">
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
         Magni, dolorem iusto. 
         Veniam sint omnis molestiae, reprehenderit minima dolore provident exercitationem 
         odit at fuga iusto expedita, architecto est accusamus. Itaque, laboriosam!
       </p>
     </div>
   </div>