<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <title>Shop App/Home</title>
</head>
<body>
    @await Html.PartialAsync("_navbar");
 <header>
   @*  @await Html.PartialAsync("_header"); *@
   <partial name ="_header">
 </header>
 <main>

    <div class="container">
        <div class="row">
            @RenderSection("Category",required: false)
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
 </main>
<footer class="py-5 bg-dark text-white text-center">Shopp App</footer>

</body>
</html>